*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}

.btn{
  border: none;
  background-color: #FD6E0A;
  padding: 19px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.section-heading{
   text-align: center;
   margin: 0 auto;
  
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #181818;
}

.section-heading p{
    font-size:18px;
    max-width: 827px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
    margin: 0 auto;
}

.text-centar{
    text-align: center;
}

/* shear style  */


header{
    /* background-color: #FFF8F3; */
    background: url(../images/developer.png) , url(../images/header_bg.png) , #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px , bottom right;
    padding-top:50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oreng-color{
    color: #FD6E0A;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}

.menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    /* width: 1332px;
    height: 676px; */
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
}

#banner .banner-content p{
    font-size: 18px;
    font-weight: regular;
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;
}


#banner .banner-image img{
    max-width: 585px;
    height: 676px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#about .about-container{
    background-color: #FFF8F3;
    padding: 131px 156px;
    text-align: center;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around
}

#about .about-container .about-info .info-cerd p{
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}

#about .about-container .about-info .info-cerd h4{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}

#skill , #resume{
    padding-top: 130px;
}

.skill-info{
    margin: 0 auto;
    width: 71%;
    max-width: 1140px;
    margin-top: 50px;
    display: flex;
    gap: 24px;
}

.skill-cerd{
    max-width: 267px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000015;
    padding: 30px;
    border-radius: 5px;
   
}

.skill-cerd img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-cerd h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.skill-cerd p{
    font-size: 18px;
    color: #757575;
}

 #resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
 }

 #resume .resume-container .education h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #474747;
 }

 #resume .resume-container .education h4{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
 }

  #resume .resume-container .education .cred-info .cerd-title{
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
    margin-bottom: 20px;
  }

  #resume .resume-container .education .cred-info .cerd-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
  }

  #resume .resume-container hr{
    margin: 30px 0;
  }

  footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
  }

  .footer-container{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    gap: 117px;
  }

  footer h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
  }

  footer p{
    color: #474747;
    max-width: 562px;
    margin-bottom: 30px;
  }

  footer .footer-container .social .icones a{
    margin-right: 24px;
  }

  .footer-container form input[type="text"]{
     width: 461px;
     padding: 18px 31px;
     border:none;
     margin-bottom: 24px;
     border-radius: 5px;
     color: #757575;
  }

   .footer-container form input[type="email"]{
       width: 461px;
     padding: 18px 31px;
     border:none;
     margin-bottom: 24px;
     border-radius: 5px;
      color: #757575;
   }

   .footer-container form textarea {
    width: 461px;
    height: 180px;
    border: none;
    padding: 18px 30px;
    margin-bottom: 24px;
    border-radius: 5px;
     color: #757575;
   }
